In [1]:
import sys
import os

# 현재 파일(main.ipynb)이 있는 디렉토리의 부모 디렉토리를 sys.path에 추가
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('./final_positions.csv', index_col=0)
df = df.iloc[:,:4]
df

       waist  shoulder  elbow  wrist
0,0      108       163    154     40
0,1      100       163    154     44
0,2       94       163    154     44
0,3       89       163    154     44
0,4       84       163    154     44
...      ...       ...    ...    ...
8,5       57        88     32     19
8,6       48        96     38     19
8,7       41        98     39     14
8,8       36       104     45      8
start     14       104     48     17

[82 rows x 4 columns]

In [12]:
i, j = 0, 5
idx = f"{i},{j}"
idx

'0,5'

In [15]:
df.loc[idx].tolist() + [0]

[78, 163, 154, 44, 0]

In [16]:
coord = (3,3)

print(f"{coord}")

(3, 3)